@charset "UTF-8";

* /*reset css geral*/
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/
:root
{

}

